@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: "Nunito", sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
}

.hamburger__menu--closed::before {
  content: "";
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
  transition: all 0.4s;
  background-color: #fff;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}

.hamburger__menu--open::before {
  content: "";
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
  transition: all 0.4s;
  background-color: #fff;
  display: block;
  position: absolute;
  height: 2px;
  left: 0;
  width: 100%;
  transform: translateY(6px) translateX(1px) rotate(45deg);
}

.hamburger__menu--closed,
.hamburger__menu--open {
  transition: all 0.4s;
  display: block;
  position: absolute;
  height: 2px;
  left: 0;
}

.hamburger__menu--closed {
  background-color: #fff;
  width: 30px;
}

.hamburger__menu--open {
  background-color: transparent;
  width: 100%;
}

.hamburger__menu--closed::after {
  content: "";
  transform-origin: 33% 0;
  top: 10px;
  z-index: 10;
  transition: all 0.4s;
  background-color: #fff;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}

.hamburger__menu--open::after {
  content: "";
  transform-origin: 33% 0;
  top: 10px;
  z-index: 10;
  transition: all 0.4s;
  background-color: #fff;
  display: block;
  position: absolute;
  height: 2px;
  left: 0;
  width: 100%;
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
}

.hamburger__container {
  @apply w-8 h-10 absolute cursor-pointer;
  text-indent: -9999em;
  top: 34px;
  right: 40px;
}

.submenu__span::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 40px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  transition: all 0.3s ease 0s;
  background: #504ce5;
}

.card__title::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 150%;
  top: -5px;
  background: #d9d8ff;
  left: -32px;
}

footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 30px;
  background: url(../img/footer-shape.svg) center center no-repeat;
  top: -30px;
}

.comment::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 19px solid #fff;
  bottom: -19px;
  left: 0px;
  right: 0px;
  margin: auto;
}

/* .parallax {
  background: url(../img/office-computer.jpg);
  background-size: cover;
} */

.hexagon {
  background: url(../img/hexagons.png) center center no-repeat;
}

@media (min-width: 1200px) {
  .parallax {
    background-position-y: -240px;
  }
}
